.hero {
  min-height: 65vh;
  padding: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  
  background: linear-gradient(
      to right,
      #f5f5f5 0%,
      #f5f5f5 40%,
      #ffffff 60%,
      #ffffff 100%
    ),
    radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0) 70%
    );
  background-blend-mode: overlay;
  font-family:"Montserrat",sans-serif;
}


.hero-text h4 {
  font-size: 18px;
  font-weight: 400;
  color: #555;
}

.hero-name {
  font-size: 54px;
  margin-top: 6px;
  margin-bottom: 12px;
  font-weight: 800;
  color: #111;
  line-height: 1.1;
}

.first-name {
  display: block;
  margin-right: 140px;
}

.last-name {
  display: block;
  margin-left: 140px; 
}


.hero-text p {
  font-size: 17px;
  color: #444;
  max-width: 620px;
  line-height: 1.6;
  margin: 0 auto;
  margin-bottom: 28px;
}




.new-buttons {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-top: 26px;
}



.btn-modern {
  padding: 12px 32px;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 5px;
  
  font-family:"Montserrat",sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  font-size: 18px;
}

.btn-modern:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}


.btn-light {
  padding: 12px 32px;
  background: #fff;
  border: 1.4px solid #ddd;
  color: #111;
  border-radius: 5px;
  
  font-family:"Montserrat",sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s ease;
  font-size: 18px;
}

.btn-light:hover {
  background: #f3f3f3;
  border-color: #ccc;
  transform: translateY(-2px);
}



@media (max-width: 900px) {
  .hero-text h4 {
  font-size: 18px;
  font-weight: 350;
  
}

.hero-name {
  font-size: 48px;
  margin-top: 6px;
  margin-bottom: 12px;
  font-weight: 700;
  color: #111;
  line-height: 1.1;
}
.last-name {
  display: block;
  margin-left: 55px; 
}
.hero-text p {
  font-size: 16px;
  width: 95%;
  margin-left: -2px;
  text-align: center;
  
}
.new-buttons {
  gap: 12px;
  margin-left: -16px;
}
.btn-light {
  font-size: 16px;
  border-radius: 2px;
  padding: 12px 16px;
}
.btn-modern {
  font-size: 16px;
  border-radius: 2px;
  padding: 12px 20px;
}

}


