body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* Each big section */
.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  background: #f5f5f5;
  border-bottom: 2px solid #ddd;
}
